.table {
  // height: 250px;
  box-shadow: #000 0 0 3px;
  border-radius: 3px;
  padding: 20px;

  caption {
    font-size: 1.2em;
    text-decoration: underline;
    padding: 5px 0;
  }

}

.svg1 {
 // height: 100%;
 // width: 80%;
  width: 960px;
  height: 500px;
}

.title{
  display: block;
  font-size: 12pt;
}
.subtitle{
  display: block;
}

.hyperlink{
  text-decoration: underline;
  color: blue;
  margin-right: 10px;
  cursor: pointer;
  &:hover{color: darkblue;}
  &:active{color: white;}
}

.left {
  opacity: 1;
}


.right {
  float: right;
}