.table {
  height: 90%;
  box-shadow: #000 0 0 3px;
  border-radius: 3px;
  padding: 20px;

  caption {
    font-size: 1.2em;
    text-decoration: underline;
    padding: 5px 0;
  }

}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  cursor: crosshair;
  stroke-width: 1.5px;
  &:hover{
    stroke: #000;
  }
}

.nodes text {
  cursor: crosshair;
  font: 10px sans-serif;
}

.svg1 {
  height: 90%;
  width: 100%;
}
.title{
  font-size: 12pt;
}

.paramName{
  display: inline-block;
  width: 100px;
}
.hovering{
  position: absolute;
  pointer-events: none;
  right: 0px;
  top: 140px;
  width: 300px;
  font-size: 10px;
  color: red;
  background-color: white;
  opacity: 0.5;
}
.link{
  text-decoration: underline;
  color: blue;
  margin-bottom: 2px;
  cursor: pointer;
  &:hover{color: darkblue;}
  &:active{color: white;}
}